<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <sectionGroup name="coreSettings">
      <section name="servicesSettings" type="Resource.Services.Configuration.ServicesSection, Resource.Services" allowLocation="false" allowDefinition="Everywhere" />
    </sectionGroup>
    <sectionGroup name="portalSettings">
      <section name="weatherSettings" type="Gafisa.AlphaBook.Componentes.Configuration.WeatherSection, Gafisa.Alphabook.Componentes" allowLocation="false" allowDefinition="Everywhere" />
      <section name="proxySettings" type="Resource.Core.Configuration.ProxySection" allowLocation="false" allowDefinition="Everywhere" />
      <section name="ipLocationSettings" type="Gafisa.AlphaBook.Componentes.Configuration.IPLocationSection, Gafisa.Alphabook.Componentes" allowLocation="false" allowDefinition="Everywhere" />
      <section name="googleSettings" type="Gafisa.AlphaBook.Componentes.Configuration.GoogleSection" allowLocation="false" allowDefinition="Everywhere" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="URL.ALPHABOOK" value="/" />
    <add key="URL.ADMIN" value="/Admin" />
    <add key="StaticUserTestDebug" value="true" />
    <add key="UserTest" value="ALPHACORP\t_vmolina" />
  </appSettings>
  <portalSettings>
    <weatherSettings apiKey="c7eb25b750fc4f01bbc201854161606" weatherSearchUrl="http://api.worldweatheronline.com/premium/v1/weather.ashx?q={1}%26format=json%26num_of_days={2}%26key={0}" locationSearchUrl="http://api.worldweatheronline.com/premium/v1/search.ashx?query={1}%26num_of_results=3%26format=json%26num_of_days=2%26key={0}" defaultCity="São Paulo" />
    <proxySettings enabled="false" user="{USER_NAME}" password="***********" address="http://proxycenesp:3128" />
    <googleSettings apiKey="AIzaSyDiYprAxo3HgSUo7FBuhFVgMG_KVD_zTcE" dailyLimit="500" />
  </portalSettings>
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR" />
    <compilation targetFramework="4.5" debug="true">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="120000" />
    <authentication mode="Windows" />
  </system.web>
  <system.net>
    <defaultProxy>
      <bypasslist>
        <add address="localhost/AlphaBookServicos" />
      </bypasslist>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="99999999" maxBufferSize="99999999" maxReceivedMessageSize="99999999" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Mtom">
          <readerQuotas maxDepth="64" maxStringContentLength="131072" maxArrayLength="2147483647" maxBytesPerRead="16384" maxNameTableCharCount="16384" />
        </binding>
        <binding name="bigHttpBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="99999999" maxBufferSize="99999999" maxReceivedMessageSize="99999999" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
        <binding name="ptBuscarSOAP11Binding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Mtom">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="ptBuscarSOAP11Binding1" />
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
        <binding name="BasicHttpBinding_IServicoAgenda" messageEncoding="Mtom" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ServicoAgenda.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoAgenda" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoAgenda" />
      <endpoint address="http://localhost:8080/ServicoArquivo.svc" binding="basicHttpBinding" bindingConfiguration="bigHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoArquivo" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoArquivo" />
      <endpoint address="http://localhost:8080/ServicoAutorizacao.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoAutorizacao" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoAutorizacao" />
      <endpoint address="http://localhost:8080/ServicoBuscaGeral.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoBuscaGeral" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoBuscaGeral" />
      <endpoint address="http://localhost:8080/ServicoCargo.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoCargo" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoCargo" />
      <endpoint address="http://localhost:8080/ServicoContato.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoContato" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoContato" />
      <endpoint address="http://localhost:8080/ServicoDepartamento.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoDepartamento" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoDepartamento" />
      <endpoint address="http://localhost:8080/ServicoDocumento.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoDocumento" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoDocumento" />
      <endpoint address="http://localhost:8080/ServicoEmail.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoEmail" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoEmail" />
      <endpoint address="http://localhost:8080/ServicoFaq.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoFaq" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoFaq" />
      <endpoint address="http://localhost:8080/ServicoInteligenciaMercado.svc" binding="basicHttpBinding" bindingConfiguration="bigHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoInteligenciaMercado" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoInteligenciaMercado" />
      <endpoint address="http://localhost:8080/ServicoLocalizacao.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoLocalizacao" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoLocalizacao" />
      <endpoint address="http://localhost:8080/ServicoProjeto.svc" binding="basicHttpBinding" bindingConfiguration="bigHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoProjeto" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoProjeto" />
      <!--<endpoint address="http://localhost:8080/ServicoProjeto.svc"
        binding="basicHttpBinding" bindingConfiguration="bigHttpBinding"
        contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoProjeto"
        name="Gafisa.AlphaBook.Servicos.Objetos.ServicoProjeto"/>-->
      <endpoint address="http://localhost:8080/ServicoProtocolo.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoProtocolo" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoProtocolo" />
      <endpoint address="http://localhost:8080/ServicoTaxonomia.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoTaxonomia" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoTaxonomia" />
      <endpoint address="http://localhost:8080/ServicoTimeline.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoTimeline" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoTimeline" />
      <endpoint address="http://localhost:8080/ServicoUsuario.svc" binding="basicHttpBinding" bindingConfiguration="defaultHttpBinding" contract="Gafisa.AlphaBook.Servicos.Contratos.IServicoUsuario" name="Gafisa.AlphaBook.Servicos.Objetos.ServicoUsuario" />
      <endpoint address="http://osb.alphacorp.local/Utilitarios/ConsultarEnderecoPorCepBSv1/ConsultarEnderecoPorCepPSv1?wsdl" binding="basicHttpBinding" bindingConfiguration="ptBuscarSOAP11Binding1" contract="ServicoCep.ptBuscar" name="ptBuscarPort" />
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente" binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding" contract="ServicoCepSIGEP.AtendeCliente" name="AtendeClientePort" />
      <endpoint address="http://localhost:8080/ServicoAgenda.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicoAgenda" contract="ServicoAgendaTeste.IServicoAgenda" name="BasicHttpBinding_IServicoAgenda" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <directoryBrowse enabled="false" />
    <handlers>
      <remove name="ReportViewerWebControlHandler" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: FE2BC3A7-F9C8-4E07-BC87-A54E79C3A337-->