@using Gafisa.AlphaBook.Componentes.Permissao;

<link rel="stylesheet" href="@Url.Content("~/Content/css/modelos-padroes.css")" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div id="controlepowerbi">
    <input type="hidden" id="controleSessao" />

    <div id="controleRelatorios">
        <h2 class="title-relatorios">Relatórios PowerBi</h2>
        <div class="tiles-documents">
            <a class="tile-ativo" data-categoria="Cobranca" onclick="showItems('Cobranca')">
                <span class="nome-tile">Cobrança</span>
            </a>
            <a class="tile-ativo" data-categoria="Compliance" onclick="showItems('Compliance')">
                <span class="nome-tile">Compliance</span>
            </a>
            <a class="tile-ativo" data-categoria="Controladoria" onclick="showItems('Controladoria')">
                <span class="nome-tile">Controladoria</span>
            </a>
            <a class="tile-ativo" data-categoria="Facilities" onclick="showItems('Facilities')">
                <span class="nome-tile">Facilities</span>
            </a>
            <a class="tile-ativo" data-categoria="marketing" onclick="showItems('marketing')">
                <span class="nome-tile">Marketing</span>
            </a>
            <a class="tile-ativo" data-categoria="novosnegocios" onclick="showItems('novosnegocios')">
                <span class="nome-tile">Novos Negócios</span>
            </a>
            <a class="tile-ativo" data-categoria="comercial" onclick="showItems('comercial')">
                <span class="nome-tile">Planejamento Comercial</span>
            </a>
            <a class="tile-ativo" data-categoria="relacionamento" onclick="showItems('relacionamento')">
                <span class="nome-tile">Relacionamento</span>
            </a>
            <a class="tile-ativo" data-categoria="informacao" onclick="showItems('informacao')">
                <span class="nome-tile">Soluções Digitais</span>
            </a>
            <a class="tile-ativo" data-categoria="suprimentos" onclick="showItems('suprimentos')">
                <span class="nome-tile">Suprimentos</span>
            </a>
            <a class="tile-ativo" data-categoria="tvs" onclick="showItems('tvs')">
                <span class="nome-tile">TVs</span>
            </a>
        </div>
    </div>

    <div id="controleRelatoriosItem" style="display:none">
        <h2 class="title-relatorios">Relatórios Detalhados</h2>
        <div id="documentos-container"></div>
    </div>

    <div id="iframe" style="display: none">
        <div id="iframe-container"></div>
    </div>
</div>

